@font-face {
	font-family: 'england_hand_dbregular';
	src: url('../fonts/england-webfont.eot');
	src: url('../fonts/england-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/england-webfont.woff') format('woff'),
	url('../fonts/england-webfont.ttf') format('truetype'),
	url('../fonts/england-webfont.svg#england_hand_dbregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.font-england-hand {
	font-family: $font-england-hand;
}

.font-oswald {
	font-family: $font-oswald;
}