.tnwedding--nav-bar {
	border-bottom: 1px solid $primary-color;

	&.tab-bar {
		background-color: $secondary-color;
	}

	.tnwedding--title-bar--title {
		color: $primary-color;
		font-family: $font-oswald;
	}

	.tnwedding--nav {
		display: inline-block;

		li {
			a {
				font-family: $font-oswald;
				font-size: 0.95rem;
			}
		}
	}

	.tnwedding--off-canvas-toggle {
		border-right-color: $primary-color;
	}
}

.tnwedding--offcanvas-nav {
	li {
		label {
			font-family: $font-oswald;
			font-size: 0.9rem !important;
		}

		a {
			font-family: $font-oswald;
			font-size: 1rem;
		}
	}
}