.tnwedding--nav-bar {
	border-bottom: 1px solid $primary-color;

	.tnwedding--title-bar--title {
		color: $primary-color;
	}

	.tnwedding--nav {
		display: inline-block;
	}

	.tnwedding--off-canvas-toggle {
		border-right-color: $primary-color;
	}
}