.cs-text .letter {
width: 90px;
height: 100px;
display: inline-block;
background: #d5b292;
background-image: url(../images/scrabble-tile-dark-bg.jpg);
background-repeat: no-repeat;
color: #2a1f1b;
border-radius: 4px;
font-size: 60px;
font-weight: 400;
line-height: 100px;
margin: 10px 3px;
text-align: center;
cursor: default;
font-family: "Spinnaker", Arial, sans-serif;
text-shadow: 
1px 1px 1px rgba(255, 255, 255, 0.9), 
0 -1px 1px rgba(255,255,255,0.2);
text-transform: uppercase;
box-shadow: 3px 3px 4px rgba(200,200,200,1),
inset 3px 0 2px rgba(213,178,146,0.4),
inset 0 3px 0px rgba(213,178,146,0.5),
inset -3px -4px 0px rgba(107,107,107,0.6);
}
.space {
width: 90px;
height: 100px;
display: inline-block;
background: #d5b292;
color: #2a1f1b;
border-radius: 4px;
font-size: 60px;
font-weight: 400;
line-height: 100px;
margin: 10px 3px;
text-align: center;
vertical-align: bottom;
cursor: default;
text-transform: uppercase;
box-shadow: 
3px 3px 4px rgba(107,107,107,0.8),
inset 3px 0 2px rgba(255,255,255,0.4),
inset 0 3px 0px rgba(255,255,255,0.5),
inset -2px -3px 0px rgba(143,128,82,0.6);
}

.number {
    font-size: 20px;
    position: relative;
    right: 0;
    top: 8px;
}

.nw {
  transform: rotate(3deg);
}

.ne {
  transform: rotate(-2deg);
}