$primary-color: #96377C;
$secondary-color: #FFECD7;
$font-england-hand: 'england_hand_dbregular', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$white: #FFFFFF;
$black: #000000;
$tablet: 768px;
$desktop: 1024px;