.tnwedding--nav-bar {
	border-top: 1px solid $primary-color;

	@media screen and (min-width: $tablet) {
		border-top: none;
	}
	
	border-bottom: 1px solid $primary-color;

	&.tab-bar {
		background-color: $secondary-color;
	}

	.tnwedding--title-bar--title {
		color: $primary-color;
		font-family: $font-oswald;
		font-size: 1.2rem;

		@media screen and (min-width: $tablet) {
			font-size: 1.125rem;
		}
	}

	.tnwedding--nav {
		display: inline-block;

		li {
			a {
				font-family: $font-oswald;
				font-size: 1.1rem;

				@media screen and (min-width: $tablet) {
					font-size: 0.95rem;
				}
			}
		}
	}

	.tnwedding--off-canvas-toggle {
		border-right-color: $primary-color;
	}
}

.tnwedding--offcanvas-nav {
	li {
		a {
			font-family: $font-oswald;
			font-size: 1.1rem;

			@media screen and (min-width: $tablet) {
				font-size: 0.95rem;
			}
		}
	}
}

.tnwedding--off-canvas-nav--title {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
	font-family: $font-oswald;
	font-size: 1.1rem !important;

	@media screen and (min-width: $tablet) {
		font-size: 0.95rem !important;
	}
}