.tnwedding--rsvp-form-iframe {
	width: 99%;
	height: 2100px;

	@media screen and (min-width: 640px) {
		height: 2040px;
	}

	@media screen and (min-width: $tablet) {
		height: 1150px;
	}
}

.tnwedding--rsvp-form {
	hr {
		border-color: $primary-color;
	}

	.tnwedding--rsvp-form--button {
		padding: 0.6em 1em;
		font-family: $font-oswald;
	}
}
